:root {
    --bgcolor: #ffffff;
    --color: #00000080;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    text-align: center;
}


html,
body {
    width: 100%;
    height: 100%;
}


body {
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: var(--bgcolor);
    transition: background-color 0.2s;
}


#hex,
#rgb {
    font-size: 48px;
    user-select: none;
    color: var(--color);
    padding: 16px 32px 8px;
    position: relative;
    overflow: hidden;
    transition: background-color 0.2s, color 0.2s;
}


#hex:hover,
#rgb:hover {
    background-color: var(--color);
    color: var(--bgcolor);
    cursor: pointer;
}


#hex.copy::after,
#rgb.copy::after {
    content: "Скопировано!";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--bgcolor);
    background-color: #ffffff10;
    padding: inherit;
    animation: copy 2s cubic-bezier(0.1, 0.7, 1.0, 0.1) forwards;
}

@keyframes copy {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}